/* ------------------------------------ *\
    #MAIN
\* ------------------------------------ */

/**
 * Master stylesheet for brickwig.
 *
 * Author: Scott Brunswig
 */


/**
 * CONTENTS
 *
 * SETTINGS
 * Colors...............Color variables
 *
 * GENERIC
 * Reset................Reset margin and padding on some elements
 *
 * ELEMENTS
 * Button...............BUTTON element
 * Html.................HTML element
 * Input................INPUT element
 * Link.................A element
 * SVG..................SVG element
 *
 * PROPERTIES
 * Background...........Background properties
 * Border...............Border properties
 * Box..................Box properties
 * Flex.................Flex properties
 * Font.................Font properites
 * List.................List properites
 * Others...............Other properties
 * Spacing..............Margin and padding properties
 * Text.................Text properties
 * Visual...............Visual formatting properties
 */


/** #SETTINGS */

/** #GENERIC */
@import "imports/__reset.css";

/** #ELEMENTS */

/** #PROPERTIES */
@import "imports/background.css";
@import "imports/flex.css";
@import "imports/spacing.css";
@import "imports/visual.css";

.aside, .main {
    width: 100%;
}
/* Large screens */
@media (min-width: 48em) {
    .main    { flex: 1; }
    .aside   { flex: 1; }
    .aside { order: 1; } 
    .main    { order: 2; }
}


.row {
    cursor: pointer;
}
.row:hover {
    background-color: rgba(228,247,250,1);
}